<script lang="ts">
    import type { Poldoc } from "$lib/types";
    import PoldocListItem from "./PoldocListItem.svelte";

    export let poldocs: Poldoc[];
</script>

{#if poldocs.length > 1}
    <p>{poldocs.length} documents</p>
{/if}

<ul>
    {#each poldocs as poldoc}
        <PoldocListItem {poldoc}/>
    {/each}
</ul>

<style>
    ul {
        padding-left: 0;
        padding-bottom: 8em;
    }

    p {
        margin-top: 0.4em;
        color: #444;
    }
</style>
