<script lang="ts">
    import { POLDOC_TYPE_PREFIXES, type Poldoc } from "$lib/types";
    import AnnotationChip from "$lib/AnnotationChip.svelte";
    import PersonChip from "../PersonChip.svelte";
    import PoldocSubtitle from "../PoldocSubtitle.svelte";

    export let poldoc: Poldoc;

    let href: string;
    // TODO use a "poldoc_type" field
    // and use Typescript to handle extra fields?
    if (poldoc.id.startsWith(POLDOC_TYPE_PREFIXES.questionGouv)) {
        href = poldoc.id
    } else if (poldoc.id.startsWith(POLDOC_TYPE_PREFIXES.politico)) {
        const slug = poldoc.id.split("/")[1];

        href = `https://www.politico.eu/article/${slug}`;
    } else if (poldoc.official_source_url) {
        href = poldoc.official_source_url;
    }
</script>

<li>
    <a href={href}>
        <h4>{poldoc.title}</h4>
        <PoldocSubtitle {poldoc} />
        {#if (poldoc.annotations && poldoc.annotations.length > 0) || (poldoc.persons && poldoc.persons.length > 0)}
            <p>
                {#if poldoc.annotations && poldoc.annotations.length > 0}
                    {#each poldoc.annotations as annotation}
                        <AnnotationChip {annotation} />
                    {/each}
                {/if}
                {#if poldoc.persons && poldoc.persons.length > 0}
                    {#each poldoc.persons as person}
                        <PersonChip {person} />
                    {/each}
                {/if}
            </p>
        {/if}
    </a>
</li>

<style>
    li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: #222;
        padding: 0.6em;
        display: block;
        border: 1px solid transparent;
        cursor: pointer;
    }

    a:hover {
        background-color: #f7f7f7;
        color: #111;
    }

    h4 {
        margin: 0;
        font-weight: normal;
        font-size: 110%;
    }

    p {
        margin-top: 0.4em;
        color: #444;
    }

    a:hover h4 {
        color: black;
    }

    a:hover p {
        color: #222;
    }
</style>
