<script>
    import AnnotationChip from "$lib/AnnotationChip.svelte";
    import TextMain from "$lib/TextMain.svelte";
</script>

<TextMain>
    <h1>À Propos</h1>

    <h2>Annotation de certains documents par une machine</h2>

    <p>
        Pour certains documents, le lien avec les sujets est fait par un algorithme.
        Dans ce cas, le sujet est marqué de cette façon:
        <AnnotationChip annotation={{topic: "santé", source_job: "fake-example"}}/>
    </p>
    <p>
        Ces annotations peuvent parfois être inexactes.
        Quand une annotation ajoutée par une machine est revue et confirmée par un humain,
        elle est représentée comme une annotation ajoutée par un humain:
        <AnnotationChip annotation={{topic: "santé", source_job: null}}/>
    </p>
    <p>
        Le code source du programme qui effectue ces annotations est visible à cette adresse:
        <a href="https://gitlab.com/cedricvanrompay/sempolda/-/tree/master/auto_annotation">
            https://gitlab.com/cedricvanrompay/sempolda/-/tree/master/auto_annotation
        </a>
    </p>
</TextMain>