<script lang="ts">
    import type { PageData, ActionData } from "./$types";
    import { navigating } from "$app/stores";
    import QuestionGouvContent from "$lib/QuestionGouvContent/QuestionGouvContent.svelte";
    import PoldocViewHeader from "$lib/PoldocViewHeader.svelte";
    import DocPicker from "$lib/DocPicker/DocPicker.svelte";
    import PoldocAnnotationForm from "../../../../PoldocAnnotationForm.svelte";
    import PrevNextButtons from "../../../../PrevNextButtons.svelte";
    import Suggestions from "../../../../Suggestions.svelte";
    import Layout from "$lib/Layout.svelte";

    export let data: PageData;
    export let form: ActionData;

    let isDocPickerOpen = false;
    let mainElement: HTMLElement;

    function isEmpty(obj: any) {
        for (const prop in obj) {
            if (Object.hasOwn(obj, prop)) {
            return false;
            }
        }

        return true;
    }

    $: {
        if ($navigating == null) {
            isDocPickerOpen = false;
            if (mainElement && mainElement.scrollTo) {
                mainElement.scrollTo(0, 0);
            }
        }
    }

    function toggleDocPickerOpen() {
        isDocPickerOpen = !isDocPickerOpen;
    }
</script>

<Layout
    username={data.username}
    responsive={null}
>
    <svelte:fragment slot="sidebar">
        <button on:click={toggleDocPickerOpen}> changer de document </button>

        {#if isDocPickerOpen}
            <DocPicker />
        {:else}
            <form method="POST" action="?/poldoc-topic-score">
                <input name="topic" type="text">
                <button>voir score du sujet</button>
            </form>

            {#if form && !isEmpty(form)}
                <pre>form keys: {Object.keys(form).join(", ")}</pre>
            {/if}

            <form method="POST" action="?/get-suggestions">
                <button>suggestions (OpenAI)</button>
            </form>
            <form method="POST" action="?/get-suggestions">
                <input type="hidden" name="tfidf-only" value="true">
                <button>suggestions (TF-IDF only)</button>
            </form>
            {#if form && form.suggestions}
                <p>Suggestions:</p>
                <Suggestions suggestions={form.suggestions} />
            {/if}

            <PoldocAnnotationForm poldoc={data.poldoc} {form}/>
        {/if}
    </svelte:fragment>

    <svelte:fragment slot="main">
        <main bind:this={mainElement}>
            <PoldocViewHeader poldoc={data.poldoc} />
            <PrevNextButtons previous={data.previous} next={data.next} />
            <QuestionGouvContent content={data.content} />
            <PrevNextButtons previous={data.previous} next={data.next} />
        </main>
    </svelte:fragment>
</Layout>