<script lang="ts">
    import Layout from "$lib/Layout.svelte";
    import TopicPicker from "$lib/TopicPicker.svelte";
    import type { LayoutData } from "./$types";

    export let data: LayoutData;
</script>

<Layout
    username={data.username}
    responsive={null}
>
    <svelte:fragment slot="sidebar">
        <TopicPicker url={label => `/edit-topics/${label}`} />
    </svelte:fragment>

    <svelte:fragment slot="main">
        <slot />
    </svelte:fragment>
</Layout>
