<script lang="ts">
    import type { Orateur } from "$lib/types";

    export let orateur: Orateur
</script>

{#if typeof orateur === "string"}
    <h4>{orateur}</h4>
{:else if orateur.status}
    <!-- we put the entire h4 every time
     because having the comma at the beginning of a "if" block
     causes a space to be inserted before the comma
     -->
    <h4>{orateur.name}, {orateur.status}</h4>
{:else}
    <h4>{orateur.name}</h4>
{/if}

<style>
    h4 {
        margin-top: 2.6em;
        margin-bottom: 0em;
        color: #6d6d6d;
        font-weight: normal;
    }
</style>