<script lang="ts">
    import type { Intervention } from "$lib/types";
    import Orateur from "./Orateur.svelte";

    export let content: Intervention[];
</script>

<div>
    {#each content as intervention}
        {#if intervention.orateur}
            <Orateur orateur={intervention.orateur}/>
        {/if}
        {#each intervention.paragraphs as paragraph }
            <!-- we use "html" because the text may contain <i> tags,
                typically for reactions of the crowd -->
            <p>{@html paragraph}</p>
        {/each}
    {/each}
</div>

<style>
    div {
        max-width: 55ch;
        color: #222;
        margin: auto;
        text-align: justify;
        hyphens: auto;
        line-height: 1.6em;
    }
</style>