<script lang="ts">
    import Layout from "$lib/Layout.svelte";
    import type { LayoutData } from "./$types";

    export let data: LayoutData;
</script>

<Layout
    username={data.username}
    responsive={null}
>
    <svelte:fragment slot="main">
        <slot />
    </svelte:fragment>
</Layout>
