<script lang="ts">
    import type { PageData } from "./$types";

    export let data: PageData;
</script>

<main>
    <h2>Jobs</h2>

    <ul>
        {#each data.jobs as job}
            <li><a href={"/auto-annotation/jobs/"+job}>{job}</a></li>
        {/each}
    </ul>
</main>
