<script lang="ts">
    import { page } from "$app/stores";
</script>

{#if $page.status == 403}
    <p>Unauthorized</p>
{:else}
    <p>{$page.status}: {$page.error.message}</p>
{/if}

<p><a href="/">retour à l'accueil</a></p>
