<script lang="ts">
    import { goto } from "$app/navigation";
    import type { PageData } from "./$types";

    export let data: PageData;

    async function gotoHome() {
        await new Promise((resolve) => setTimeout(resolve, 3 * 1000));
        goto("/");
    }
</script>

<svelte:head>
    <title>Authentification ─ Sempolda</title>
</svelte:head>

<main>
    <p>Vous êtes maintenant connecté en tant que {data.username}</p>

    <p>
        Vous allez être redirigé automatiquement dans 3 secondes
        vers <a href="/">l'accueil</a>.
    </p>

    {#await gotoHome() then }
        <!-- using a JSX await so that the "goto" will not be called during Server-Side Rendering -->
    {/await}
</main>
