<script lang="ts">
    import SessionItem from "./SessionItem.svelte";
    import { customFetch } from "$lib/fetch";
    import type { Session } from "src/routes/api/questions-gouv-sessions/types";

    async function getSessions(rawFetch: typeof fetch) {
        const response = await customFetch(rawFetch)(
            "/api/questions-gouv-sessions"
        );
        return (await response.json()) as { [key: string]: Session };
    }
</script>

{#await getSessions(fetch)}
    <p>Chargement des session...</p>
{:then sessions}
    <ul>
        {#each Object.keys(sessions).reverse() as date}
            <SessionItem {date} session={sessions[date]} />
        {/each}
    </ul>
{/await}
