<script lang="ts">
    import type { Session } from "src/routes/api/questions-gouv-sessions/types";

    export let session: Session;
    export let date: string;

    let collapsed = true;

    let nbQuestions: number;
    let nbAnnotated: number;
    let missingAnnotations: boolean;
    let noAnnotations: boolean;
    $: {
        nbQuestions = session.questions.length;
        nbAnnotated = session.questions.filter(q => q.annotated).length;
        missingAnnotations = (nbAnnotated !== nbQuestions);
        noAnnotations = (nbAnnotated === 0);
    }
</script>

<li>
    <span
        on:click={() => {collapsed = !collapsed}}
        class:missingAnnotations
    >
        {date}
        {#if nbAnnotated != nbQuestions}
            <span class="nb-annotated" class:noAnnotations>
                ({nbAnnotated}/{nbQuestions})
            </span>
        {/if}
    </span>
    <ul class:collapsed>
        {#each session.questions as q}
            <li><a 
                href="/annotate/{q.id}"
                class:needs-annotation={!q.annotated}
            >
                {q.title}
            </a></li>
        {/each}
    </ul>
</li>

<style>
    li > span, li > a {
        display: block;
        cursor: pointer;
    }
    li > span:hover, li > a:hover {
        background-color: #F5F5F5;
        text-decoration: none;
    }

    li > span {
        color: #666;
    }

    span.missingAnnotations {
        color: black;
    }
    span.missingAnnotations span.nb-annotated.noAnnotations {
        color: #777;
    }

    .collapsed {
        display: none;
    }

    a {
        color: #666;
    }
    a.needs-annotation {
        color: black;
    }
</style>