<script lang="ts">
    import PoldocList from '$lib/PoldocList/PoldocList.svelte';
import type { PageData } from './$types';

    export let data: PageData;
</script>

<main>
    <PoldocList poldocs={data.poldocs}/>
</main>