<script lang="ts">
    import type { PageData } from "./$types";
    import PersonPicker from "$lib/PersonPicker.svelte";
    import TopicPicker from "$lib/TopicPicker.svelte";
    import Layout from "$lib/Layout.svelte";
    import PoldocList from "$lib/PoldocList/PoldocList.svelte";

    const url = (label:string) => `/docs?topic=${label}`;

    export let data: PageData;
</script>

<Layout
    username={data.username}
    responsive="sidebar"
>
    <svelte:fragment slot="main">
        <main>
            <h2>Documents Récents</h2>
            <PoldocList poldocs={data.latestDocs} /> 
        </main>
    </svelte:fragment>

    <svelte:fragment slot="sidebar">
        <a href="https://cedricvanrompay.fr/blog/sempolda/" class="btn btn-secondary about">à propos de Sempolda</a>
        
        <a href="/docs" class="btn btn-secondary go-to-recents">voir les documents les plus récents</a>

        <p class="mobile-warning">
            Pour plus de fonctionalités, utilisez Sempolda depuis un ordinateur
        </p>        

        <PersonPicker />

        <TopicPicker {url} />
    </svelte:fragment>
</Layout>

<style>
    main {
        max-width: 50em;
        margin: 1em auto;
    }

    p.mobile-warning {
        display: block;
        font-family: sans-serif;
        margin: 1em;
        padding: 1em;
        font-size: smaller;
        color: #708592;
        background-color: #f6f9fb;
        border-radius: .5em;
    }

    a.go-to-recents, a.about {
        display: block;
        max-width: max-content;
        margin: .8em auto;
    }

    /* TODO centralize the definition of the breakpoint */
    @media (min-width: 50rem) {
        a.go-to-recents {
            display: none;
        }

        p.mobile-warning {
            display: none;
        }
    }
</style>