<script lang="ts">
    export let toggleMenu: () => void;

    export let isConnected: boolean;
</script>

<header>
    <div>
        <a id="sitename" href="/" title="vers l'accueil"> Sempolda </a>
        {#if isConnected}
            <button on:click={toggleMenu}> MENU </button>
        {/if}
    </div>
    <p>explorez la vie politique française</p>
</header>

<style>
    header {
        grid-area: header;
        padding-top: 0.8em;
    }

    div {
        display: flex;
        align-items: center;
    }

    a#sitename {
        color: #444;
        font-size: 200%;
        font-weight: bold;
        text-decoration: none;
        display: block;
        flex-grow: 1;
    }
    a#sitename:hover {
        color: black;
    }

    button {
        font-size: 110%;
        background-color: #368ce8;
        border: none;
        border-radius: 1em;
        margin: 0.2em;
        padding: 0.4em 1em;
        color: white;
        cursor: pointer;
        margin: 0.4em 1em;
    }
    button:hover {
        background-color: #3577be;
    }

    p {
        font-size: smaller;
        font-family: sans-serif;
        color: #555;
        margin: 0em 0em;
    }
</style>
