<script lang="ts">
    export let username: string;
    export let visible: boolean;
</script>

<nav class:visible>
    <p>Connecté ({username})</p>
    <ul>
        <li><a href="/docs">recherche</a></li>
        <li><a href="/annotate">annotation</a></li>
        <li><a href="/edit-topics">édition des sujets</a></li>
        <li><a href="/auto-annotation">auto-annotation</a></li>
    </ul>
</nav>

<style>
    nav {
        grid-area: sidebar;
        display: none;
        background-color: white;
        z-index: 2;
        padding: 1em;
    }
    nav.visible {
        display: block;
    }

    ul {
        padding: 0;
    }
    li {
        list-style-type: none;
    }

    li a {
        display: block;

        /* TODO move to global static CSS stylesheet */
        text-decoration: none;
        background-color: #368ce8;
        border: none;
        border-radius: 1em;
        padding: 0.4em 1em;
        color: white;
        margin: 0.4em 0;
    }

    li a:hover {
        background-color: #3577be;
    }
</style>
