<!-- note that we use generics, see https://svelte.dev/docs/typescript#experimental-advanced-typings -->
<script lang="ts" generics="T">
    import type { Completion } from "$lib/autocompletion";

    import { navigating } from "$app/stores";
    import { createEventDispatcher, SvelteComponent } from "svelte";
    const dispatch = createEventDispatcher<{
        suggestionSelected: Completion<T>;
    }>();

    import Completions from "./Completions.svelte";

    export let inputName: string;
    export let getCompletions: (userInput: string) => Promise<Completion<T>[]>;
    export let value: string = "";
    /** if false, hitting "Enter" when a suggestion is selected
     * will simply set the value of the input element
     * but not trigger any event
    */
    export let sendEventOnSuggestionKeyDownEnter: boolean = false;
    export let selectFirstSuggestionByDefault: boolean = false;

    let currentTimeout: number;
    let showCompletion = false;
    let inputRef: HTMLInputElement;
    // use to avoid displaying suggestions
    // after a suggestion was clicked
    let clickedSuggestion: string | null = null;

    $: {
        showCompletion = false;

        if (value) {
            if (value !== clickedSuggestion) {
                if (currentTimeout) {
                    window.clearTimeout(currentTimeout);
                }

                if (value.length >= 3) {
                    currentTimeout = window.setTimeout(() => {
                        showCompletion = true;
                    }, 300);
                }
            }
        }
    }

    $: {
        if ($navigating == null) {
            showCompletion = false;
            value = "";
        }
    }

    let completions: SvelteComponent;
    function onInputKeyDown(e: KeyboardEvent) {
        if (e.key == 'ArrowDown') {
            completions.down();
            e.preventDefault();
        } else if (e.key == 'ArrowUp') {
            completions.up();
            e.preventDefault();
        } else if (e.key == 'Enter') {
            let selected = completions.getSelected();

            if (!selected && selectFirstSuggestionByDefault) {
                selected = completions.getFirst();
            }

            if (selected) {
                value = selected.key;
                clickedSuggestion = selected.key;

                if (sendEventOnSuggestionKeyDownEnter) {
                    dispatch("suggestionSelected", selected);
                }
            }
        }
    }
</script>

<div>
    <input
        type="text"
        name={inputName}
        bind:value
        bind:this={inputRef}
        autocomplete="off"
        on:keydown={onInputKeyDown}
    />
    {#if showCompletion}
        <Completions
            userInput={value}
            onSelect={async (selected) => {
                inputRef.focus();
                value = selected.key;
                clickedSuggestion = selected.key;
                dispatch("suggestionSelected", selected);
            }}
            bind:this={completions}
            {getCompletions}
        />
    {/if}
</div>

<style>
    div {
        flex-grow: 1;
        position: relative;
    }

    input {
        width: 100%;
        box-sizing: border-box;
    }
</style>
