<script lang="ts" generics="T">
    import type { Completion } from "$lib/autocompletion";

    import type { SvelteComponent } from "svelte";
    import SuggestionsList from "./SuggestionsList.svelte";

    export let getCompletions: (userInput: string) => Promise<Completion<T>[]>;
    export let onSelect: (selected: Completion<T>) => void;
    export let userInput: string;

    let list: SvelteComponent;
    export function down() {
        if (list) {
            list.down();
        }
    }

    export function up() {
        if (list) {
            list.up();
        }
    }

    export function getSelected() {
        if (list) {
            return list.getSelected();
        } else {
            return undefined;
        }
    }

    export function getFirst() {
        if (list) {
            return list.getFirst();
        } else {
            return undefined;
        }
    }
</script>

<div>
    {#await getCompletions(userInput)}
        <p><i>loading...</i></p>
    {:then suggestions}
        {#if suggestions.length}
            <SuggestionsList {suggestions} {onSelect} bind:this={list}/>
        {:else}
            <p><i>Aucune suggestion.</i></p>
        {/if}
    {/await}
</div>

<style>
    div {
        position: absolute;
        width: 100%;
        border: 1px solid black;
        background-color: white;
        z-index: 20;
        border: 1px solid #ddd;
        margin-top: 0.4em;
    }
</style>
