<script lang="ts" generics="T">
    import type { Completion } from "$lib/autocompletion";

    export let suggestions: Completion<T>[];

    export let onSelect: (selected: Completion<T>) => void;

    let selectedIndex: number | null = null;
    $: { selectedIndex = null && suggestions }

    export function up() {
        if (!(typeof selectedIndex == 'number')) {
            return;
        } else if (selectedIndex == 0) {
            selectedIndex = null;
        } else {
            selectedIndex--;
        }
    }

    export function down() {
        if (!(typeof selectedIndex == 'number')) {
            selectedIndex = 0;
        } else if (selectedIndex < suggestions.length-1){
            selectedIndex++;
        }
    }

    export function getSelected() {
        if (selectedIndex == null) {
            return null;
        } else {
            return suggestions[selectedIndex];
        }
    }

    export function getFirst() {
        if (suggestions?.length) {
            return suggestions[0]
        } else {
            return undefined;
        }
    }
</script>

<ul>
    {#each suggestions as suggestion, i}
        <!-- not using buttons as they would mess with the parent form -->
        <li
            on:click={() => {
                console.log("selected", suggestion);
                onSelect(suggestion);
            }}
            class:selected={i == selectedIndex}
        >{suggestion.key}</li>
    {/each}
</ul>

<style>
    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style-type: none;
        color: #333;
        padding: 0.2em;
        cursor: pointer;
    }

    li:hover, li.selected {
        background-color: #f7f7f7;
        color: #000;
    }
</style>