<script lang="ts">
    import Layout from "$lib/Layout.svelte";
    import type { PageData } from "./$types";
    import DocPicker from "$lib/DocPicker/DocPicker.svelte";

    export let data: PageData
</script>

<Layout
    username={data.username}
    responsive={null}
>
    <svelte:fragment slot="sidebar">
        <DocPicker/>
    </svelte:fragment>

    <svelte:fragment slot="main">
        <main>
            <p>Veuillez choisir un document à annoter</p>
        </main>
    </svelte:fragment>
</Layout>
