<script lang="ts">
    import type { Poldoc } from "$lib/types";
    import { customFetch } from "$lib/fetch";
    import DeletionButton from "$lib/DeletionButton.svelte";
    import AddLinkedTopicForm from "$lib/AddLinkedTopicForm/AddLinkedTopicForm.svelte";
    import InfoBubble from "$lib/InfoBubble.svelte";
    import ValidatedAnnotationInfo from "./ValidatedAnnotationInfo.svelte";

    export let poldoc: Poldoc;
    export let form: any = undefined;

    let topicCreationInProgress: boolean = false;

    async function onConfirmedTopic(topic: string) {
        await customFetch(fetch)("/api/docs-labels", {
            method: "POST",
            body: {
                docId: poldoc.id,
                labelName: topic,
            },
        });
    }
</script>

<h4>Annotation de « {poldoc.title} »</h4>


{#if form?.annotation?.validated}
    <ValidatedAnnotationInfo validated={form.annotation.validated}/>
{/if}

{#if form?.annotation?.validation_cancelling}
    {#if form?.annotation?.validation_cancelling?.error}
        <p class="error">{form.annotation.validation_cancelling.error}</p>
    {/if}

    {#if form?.annotation?.validation_cancelling?.success}
        <InfoBubble><p>validation annulée</p></InfoBubble>
    {/if}
{/if}


{#if poldoc.annotations}
    <ul>
        {#each poldoc.annotations as annotation}
            <li>
                {annotation.topic}
                {#if annotation.source_job}(auto){/if}
                <form method="POST">
                    <input type="hidden" name="topic" value={annotation.topic}>
                    <DeletionButton
                        formaction="?/remove-topic"
                        confirmationPrompt={`supprimer « ${annotation.topic} » ?`}
                    />
                    {#if annotation.source_job}
                        <button class="btn validate" formaction="?/validate-topic">✓</button>
                    {/if}
                </form>
            </li>
        {/each}
    </ul>
{/if}

<AddLinkedTopicForm
    {onConfirmedTopic}
    bind:inProgress={topicCreationInProgress}
/>

<style>
    form {
        display: inline;
    }

    .btn.validate {
        padding: 0.1em;
        width: 1.5em;
        height: 1.5em;
        background-color: #ddd;
    }

    .btn.validate:hover {
        background-color: #30ea49;
    }
</style>
