<script lang="ts">
    import type { Poldoc } from "$lib/types";

    export let previous: Poldoc | null;
    export let next: Poldoc | null;
</script>

<nav>
  <ul>
    {#if previous}
      <li class="prev">
        <a class="btn btn-secondary" href={"/annotate/"+previous.id}>
          ← {previous.title}
        </a>
      </li>
    {/if}
    {#if next}
      <li class="next">
        <a class="btn btn-secondary" href={"/annotate/"+next.id}>
          {next.title} →
        </a>
      </li>
    {/if}
  </ul>
</nav>

<style>
  nav {
    width: 100%;
    max-width: 50em;
    margin: 1em auto;
  }

  ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
    justify-items: center;
  }

  li {
    list-style-type: none;
  }

  li.prev {
    justify-self: end;
    grid-column-start: 1;
  }
  li.next {
    justify-self: start;
    grid-column-start: 2;
  }

  li.prev a {
    text-align: left;
  }
  li.next a {
    text-align: right;
  }

  a.btn-secondary {
    font-size: 100%;
  }
</style>