<script lang="ts">
    export let suggestions: any;

    $: topics = suggestions.topics as Array<string>;
    $: reason = suggestions.reason;
    $: tfidfSuggestions = suggestions.tfidf_suggestions && (
        Object.entries(suggestions.tfidf_suggestions)
            .sort((x: any, y: any) => (y[1].score - x[1].score))
    )
</script>

{#if suggestions}
    <ul>
        {#if topics}
            <li>topics: {topics.join(", ")}</li>
        {/if}
        {#if reason}
            <li>reason: {reason}</li>
        {/if}
    </ul>
    {#if tfidfSuggestions}
        <p>TF-IDF suggestions:</p>
        <ul>
            {#each tfidfSuggestions as [topic, tfidf]}
                <li>{topic} ({Math.round(tfidf.score)})</li>
            {/each}
        </ul>
    {/if}
{:else}
    <p><i>aucune.</i></p>
{/if}

<details>
    <pre>{JSON.stringify(suggestions, null, 4)}</pre>
</details>