<script lang="ts">
    import { approx } from "$lib/utils";

    export let suggestion: any;
    export let close: () => void;

    // orders contributions from biggest contribution
    // and returns them as [token, contribution] tuples
    function orderedContributions(suggestion: any) {
        return Object.entries(suggestion.tokens_contribution).sort(
            (a: any, b: any) => b[1][0]*b[1][1] - a[1][0]*a[1][1] 
        )
    }
</script>

<p>
    Explication de la suggestion « {suggestion.topic_name} »
    (score total: {approx(suggestion.score, 2)})
</p>
<button on:click={close}>fermer</button>
<p><a href={`/docs?topic=${suggestion.topic_name}`} target="_blank">documents associés</a></p>
<ul>
    {#each orderedContributions(suggestion) as [token, contribution] }
    <li>{token}: {contribution[1]}×{approx(contribution[0], 3)}</li>
    {/each}
</ul>