<script lang="ts">
    import InfoBubble from "$lib/InfoBubble.svelte";

    export let validated: {
        topic: string;
        source_job: string;
    };
</script>

<InfoBubble>
    <form method="POST" action="?/cancel-validation">
        <p>« {validated.topic} » validé</p>
        <input type="hidden" name="topic" value={validated.topic} />
        <input type="hidden" name="source_job" value={validated.source_job} />
        <button class="btn">annuler</button>
    </form>
</InfoBubble>

<style>
    form {
        display: contents;
    }

    button {
        background-color: #f3f3f3;
        color: black;
    }

    button:hover {
        background-color: #686868;
        color: white;
    }
</style>
