<script lang="ts">
    import { getLabelTree, type LabelTreeNode } from "./LabelTree";

    export let node: LabelTreeNode;
    export let url: (label: string) => string;
    export let visible: boolean;

    let collapsed = true;

    let children: string[];
    if (node.children?.length) {
        children = node.children;
    }
</script>

<li class:collapsed>
    <div>
        {#if children}
            <button
                on:click={() => {
                    collapsed = !collapsed;
                }}
            >
                <img
                    src="/caret-right.svg"
                    alt="expand/collapse"
                    class:rotated={!collapsed}
                />
            </button>
        {/if}
        <a href={url(node.name)}>{node.name}</a>
    </div>

    {#if children && visible}
        {#await getLabelTree(node.name) then children }
            <ul>
                {#each children as child}
                    <svelte:self node={child} {url} visible={!collapsed} />
                {/each}
            </ul>
        {/await}
    {/if}
</li>

<style>
    li {
        list-style-type: none;
    }

    a {
        cursor: pointer;
        display: inline-block;
        width: 100%;
        padding: 0.2em;
        text-decoration: none;
        color: inherit;
    }

    a:hover {
        background-color: #f2f2f2;
    }

    button:hover {
        background-color: #e5e5e5;
    }

    li.selected > div a {
        font-weight: bold;
    }

    li.collapsed > ul {
        display: none;
    }

    li > div {
        margin-left: 1.2em;
        display: flex;
    }

    li > div:first-of-type {
        margin-left: 0;
    }

    button {
        margin: 0em;
        background: none;
        border: none;
        cursor: pointer;
        width: 1.5em;
        padding: 0.1em;
    }

    button img {
        width: 1.3ch;
        opacity: 0.9;
    }

    button img.rotated {
        transform: rotate(90deg);
    }

    ul {
        padding-left: 1em;
    }
</style>
