<script lang="ts">
    import Item from "./Item.svelte";

    import { getLabelTree } from "./LabelTree";

    export let url: (label: string) => string;
    export let root: string | null = null;
</script>

{#await getLabelTree(root) then nodes}
    {#if nodes && nodes.length}
        <ul>
            {#each nodes as node}
                <Item {node} {url} visible/>
            {/each}
        </ul>
    {:else}
        <p class="info">pas de sous-sujets</p>
    {/if}
{/await}

<style>
    ul {
        padding: 0;
    }

    p.info {
        font-style: italic;
    }
</style>
