<script lang="ts">
    import type { PageData } from "./$types";
    import TopicHeader from "$lib/TopicHeader.svelte";
    import PoldocList from "$lib/PoldocList/PoldocList.svelte";
    import PersonHeader from "$lib/PersonHeader.svelte";

    export let data: PageData;
</script>

<main>
    {#if data.search}
        {#if data.search.topic}
            <TopicHeader topic={data.search.topic}/>
        {:else if data.search.person}
            <PersonHeader person={data.search.person}/>
        {/if}
        {#if data.search.results?.length}
            <PoldocList poldocs={data.search.results}/>
        {:else}
            <p>No results.</p>
        {/if}
    {:else if data.latestDocs}
        <h2>Documents Récents</h2>
        <PoldocList poldocs={data.latestDocs} /> 
    {:else}
        <p>Une erreur est survenue. Veuillez <a href="/">retourner à l'accueil</a>.</p>
    {/if}
</main>

<style>
    main {
        max-width: 50em;
        margin: 1em auto;
    }
</style>
