<script lang="ts">
    import DocPicker from '$lib/DocPicker/DocPicker.svelte';
    import Layout from '$lib/Layout.svelte';
    import PoldocContent from '$lib/PoldocContent.svelte';
    import PoldocViewHeader from '$lib/PoldocViewHeader.svelte';
    import PoldocAnnotationForm from '../PoldocAnnotationForm.svelte';
    import Suggestions from '../Suggestions.svelte';
import type { PageData } from './$types';

    export let data: PageData;
    export let form: ActionData;

    let isDocPickerOpen = false;

    function toggleDocPickerOpen() {
        isDocPickerOpen = !isDocPickerOpen;
    }
</script>

<Layout
    username={data.username}
    responsive={null}
>
    <svelte:fragment slot="sidebar">
        <button on:click={toggleDocPickerOpen}> changer de document </button>

        {#if isDocPickerOpen}
            <DocPicker />
        {:else}
            <form method="POST" action="?/poldoc-topic-score">
                <input name="topic" type="text">
                <button>voir score du sujet</button>
            </form>

            {#if form && !isEmpty(form)}
                <pre>form keys: {Object.keys(form).join(", ")}</pre>
            {/if}

            <form method="POST" action="?/get-suggestions">
                <button>suggestions (OpenAI)</button>
            </form>
            <form method="POST" action="?/get-suggestions">
                <input type="hidden" name="tfidf-only" value="true">
                <button>suggestions (TF-IDF only)</button>
            </form>
            {#if form && form.suggestions}
                <p>Suggestions:</p>
                <Suggestions suggestions={form.suggestions} />
            {/if}

            <PoldocAnnotationForm poldoc={data.poldoc} {form}/>
        {/if}
    </svelte:fragment>
    
    <svelte:fragment slot="main">
        <PoldocViewHeader poldoc={data.poldoc} />
        <PoldocContent content={data.content} />
    </svelte:fragment>
</Layout>