<script lang="ts">
    import QuestionGouvContent from "$lib/QuestionGouvContent/QuestionGouvContent.svelte";
    import PoldocViewHeader from "$lib/PoldocViewHeader.svelte";
    import type { PageData } from "./$types";

    export let data: PageData;
</script>

<main>
    <PoldocViewHeader poldoc={data.poldoc} isConnected={Boolean(data.username)} />
    {#await data.interventions}
        <p><i>chargement...</i></p>
    {:then interventions} 
        <QuestionGouvContent content={interventions} />
    {/await}
</main>

<style>
    main {
        padding-bottom: 5em;
    }
</style>