<script lang="ts">
    import { approx } from '$lib/utils';
    import type { PageData } from './$types';
    
    export let data: PageData;
</script>

<main>
    <p>Start time: {new Date(data.start_time)}</p>
    <p>Suffix: {data.suffix}</p>

    {#each data.poldocs_annotation_logs as log}
        <h3>
            <a href={"/annotate/"+log.poldoc}>{log.poldoc}</a>
        </h3>

        {#if log.error}
            <p>Error: {log.error?.msg}</p>

            {#if log.error?.final_scores}
                <p>final scores:</p>
                <ul>
                    {#each log.error?.final_scores as [score, topic]}
                        <li>{topic} ({approx(score, 2)})</li>
                    {/each}
                </ul>
            {/if}
        {:else if log.topics}
            <p>topics:</p>
            <ul>
                {#each log.topics as topic}
                    <li>{topic}</li>
                {/each}
            </ul>
        {/if}

        <details>
            <pre>{JSON.stringify(log, null, 4)}</pre>
        </details>
    {/each}
</main>

<style>
    main {
        padding-bottom: 5em;
    }

    h3 {
        margin-top: 4em;
    }
</style>