<script lang="ts">
    import Layout from "$lib/Layout.svelte";
import PersonPicker from "$lib/PersonPicker.svelte";
    import TopicPicker from "$lib/TopicPicker.svelte";
    import type { LayoutData } from "./$types";

    const url = (label:string) => `/docs?topic=${label}`;

    export let data: LayoutData;
</script>

<Layout
    username={data.username}
    responsive="main"
>
    <svelte:fragment slot="main">
        <slot />
    </svelte:fragment>

    <svelte:fragment slot="sidebar">
        <PersonPicker />
        <TopicPicker {url} />
    </svelte:fragment>
</Layout>
