@font-face {
	font-family: 'Merriweather';
	src: url('Merriweather-Regular.ttf') format('truetype');
	font-weight: normal;
    font-style: normal;
    font-display: fallback;
}

@font-face {
	font-family: 'Merriweather';
	src: url('Merriweather-Bold.ttf') format('truetype');
	font-weight: bold;
    font-style: normal;
    font-display: fallback;
}

@font-face {
	font-family: 'Merriweather';
	src: url('Merriweather-Italic.ttf') format('truetype');
	font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

body {
    margin: 0;
    font-family: 'Merriweather', serif;
}

a {
  text-decoration: none;
  color: #3577BE;
}

a:hover {
  text-decoration: underline;
}

.btn {
  background-color: #368ce8;
  display: inline-block;
  border: none;
  border-radius: 1em;
  margin: 0.2em;
  padding: 0.4em 1em;
  color: white;
  cursor: pointer;
}
a.btn, a.btn:hover {
  text-decoration: none;
}

button,
input {
  font-size: 100%;
}

button.btn:disabled {
  background-color: #bbb;
  cursor: auto;
}

.btn.btn-secondary {
  background-color: rgba(0, 0, 0, 0);
  border: 1px #0f5fb4 solid;
  color: #0f5fb4;
}
.btn.btn-secondary:hover {
  background-color: rgb(245, 250, 255);
  color: #033b96;
  border-color: #033b96;
}

h1 {
  font-size: 1.5em;
}

@media (min-width: 50rem) {
  h1 {
    /* this seems to be the default according to chrome */
    font-size: 2em;
  }
}