<script lang="ts">
    import { CanceledByUser } from "$lib/types";

    export let resolve: (value?: unknown) => void;
    export let reject: (reason: any) => void;
</script>

<div>
    <slot name="title"><h4>Confirmation</h4></slot>
    <slot name="text"><p>Confirmer ?</p></slot>
    <button class="btn" on:click={resolve}>confirmer</button>
    <button class="btn" on:click={() => reject(new CanceledByUser())}>annuler</button>
</div>