<script lang="ts">
    import { customFetch } from "$lib/fetch";
    import TopicInput from "$lib/TopicInput.svelte";
    import { CanceledByUser, type Topic } from "$lib/types";
    import { type TopicCreation } from "./AddLinkedTopicForm";
    import TopicCreationForm from "./TopicCreationForm.svelte";

    export let onConfirmedTopic: ((topic: string) => Promise<void>);
    export let inProgress: boolean = false;

    let annotationError: any;
    let topicCreation: TopicCreation | null = null;
    /**
     * XXX binding is useless here, we get the value from the submit event
     */
    let addTopicInputValue: string;

    async function onSubmit(e: SubmitEvent) {
        e.preventDefault();

        inProgress = true;

        annotationError = null;
        try {
            const formData = new FormData(e.target as HTMLFormElement);
            let topic = formData.get("topic") as string;

            const s = await synonymOf(topic)
            if (s) {
                topic = s;
            }

            await ensureTopicExists(topic);

            await onConfirmedTopic(topic);

            addTopicInputValue = "";
        } catch (error) {
            if (!(error instanceof CanceledByUser)) {
                annotationError = error;
                throw error;
            }
        } finally {
            topicCreation = null;
            inProgress = true;
        }
    }

    async function ensureTopicExists(topic: string) {
        const response = await customFetch(fetch)(`/api/topics?name=${topic}`);

        if (((await response.json()) as any[]).length) {
            return;
        }
        
        await new Promise<Topic>(
            (resolve, reject) => {
                topicCreation = {
                    name: topic,
                    resolve,
                    reject,
                };
            }
        );
    }

    async function synonymOf(topic: string) {
        const response = await customFetch(fetch)(`/api/synonyms?name=${topic}`);

        const synonyms = (await response.json()) as any[];

        if (synonyms?.length) {
            return synonyms[0].label_name as string;
        } else {
            return null;
        }
    }
</script>

{#if annotationError}
    <p class="error">erreur: {annotationError}</p>
    <button on:click={() => {annotationError = null}}>OK</button>
{:else if topicCreation}
    <TopicCreationForm {topicCreation} />
{:else}
    <form on:submit={onSubmit} method="POST">
        <TopicInput bind:value={addTopicInputValue} />
        <button>ajouter</button>
    </form>
{/if}
