<script lang="ts">
    import { customFetch, HTTPError } from "$lib/fetch";
    import { CanceledByUser } from "$lib/types";
    import type { TopicCreation } from "./AddLinkedTopicForm";
    import AddLinkedTopicForm from "./AddLinkedTopicForm.svelte";

    export let topicCreation: TopicCreation;

    let parents: string[] = [];
    let description: string;

    let parentCreationInProgress: boolean = false;
    let error: string | null = null;

    async function createTopic() {
        error = null;

        try {
            await customFetch(fetch)(`/api/topics`, {
                method: "POST",
                body: {
                    name: topicCreation.name,
                    description,
                    parents,
                },
            });
        } catch (error) {
            if (error instanceof HTTPError) {
                let json = await error.response.json();

                if (json.message) {
                    error = `HTTP ${error.response.status}: ${json.message}`;
                } else {
                    error = `HTTP ${error.response.status} (no "message" attribute?)`;
                }
            } else {
                error = String(error);
            }
        }

        topicCreation.resolve({
            name: topicCreation.name,
            description,
            parents,
        });
    }
</script>

<p>Création de «&nbsp;{topicCreation.name}&nbsp;»</p>

{#if error}
    <p class="error">{error}</p>
{/if}

{#if !parentCreationInProgress}
    <textarea bind:value={description} />
{/if}

{#if parents}
<ul>
    {#each parents as parent}
        <li>{parent}</li>
    {/each}
</ul>
{/if}

<AddLinkedTopicForm
    onConfirmedTopic={async (topic) => {
        parents = [...parents, topic];
    }}
/>

{#if !parentCreationInProgress}
    <button on:click={createTopic}> créer </button>
    <button on:click={() => topicCreation.reject(new CanceledByUser())}>
        annuler
    </button>
{/if}

<style>
    .error {
        color: red;
    }
</style>
