<script lang="ts">
  import { invalidateAll } from "$app/navigation";
  import { enhance } from "$app/forms";
  import DeletionButton from "$lib/DeletionButton.svelte";
  import AddLinkedTopicForm from "$lib/AddLinkedTopicForm/AddLinkedTopicForm.svelte";
  import { customFetch } from "$lib/fetch";
  import type { ActionData, PageData } from "./$types";
    import { page } from "$app/stores";

  export let data: PageData;
  export let form: ActionData;

  async function updateTopicDescription(event: SubmitEvent) {
    event.preventDefault();

    const formData = new FormData(event.target as HTMLFormElement);
    const description = formData.get("description") as string;

    await customFetch(fetch)(`/api/topics/${data.topic.name}/description`, {
      method: "PUT",
      body: description,
    });
  }

  const confirmDeletion = (parent: string) => (e: SubmitEvent) => {
    if (!confirm(`supprimer « ${parent} » comme parent ?`)) {
      e.preventDefault();
    }
  };

  async function onConfirmedTopic(topic: string) {
    await customFetch(fetch)("/api/topic-parents", {
      method: "POST",
      body: {
        child: data.topic.name,
        parent: topic,
      },
    });

    // triggerring a reload to see the effects of the topic parent creation
    // XXX hacky
    await invalidateAll();
  }
</script>

<main>
  <header>
    <h4>Édition de «&nbsp;{data.topic.name}&nbsp;»</h4>
  </header>

  <div class="forms">
    <form action="?/change-name" method="post" on:submit={(event) => {
      if (!window.confirm([
        `renommer ${$page.params.topic} ?`,
        "(note: il faut recalculer les données TF-IDF ensuite)",
      ].join("\n"))) {
        event.preventDefault();
      }
    }}>
      <label for="name">nom : </label>
      <input type="text" name="name" id="name" value={$page.params.topic}>
      <button>changer</button>
      {#if form?.["change-name"]}
        <pre>{JSON.stringify(form["change-name"])}</pre>
      {/if}
    </form>

    <form on:submit={updateTopicDescription}>
      <label for="description">description:</label>
      <textarea name="description" id="description"
        >{data.topic.description}</textarea
      >
      <div class="btn-container">
        <button class="btn">changer</button>
      </div>
    </form>

    {#if data.topic.parents}
      <p>sujets parents :</p>
      <ul>
        {#each data.topic.parents as parent}
          <li>
            {parent}
            <form class="inline" method="POST" on:submit={confirmDeletion(parent)}>
              <input type="hidden" name="parent" value={parent} />
              <DeletionButton formaction="?/remove-parent" />
            </form>
          </li>
        {/each}
      </ul>
    {:else}
      <p>pas de sujets parents</p>
    {/if}

    <AddLinkedTopicForm {onConfirmedTopic}/>

    <p>
      Termes avec un poids forcé:
      {#if !data.forcedWeights.length}<i>aucun</i>.{/if}
    </p>
    {#if data.forcedWeights.length}
      <ul>
        {#each data.forcedWeights as { term, weight }}
          <li>{term}: {weight}</li>
        {/each}
      </ul>
    {/if}

    <form method="POST" action="?/forcedWeight" use:enhance>
      {#if form?.error}<p class="error">ERROR: {form?.error}</p>{/if}
      <input
        type="text"
        placeholder="terme"
        name="term"
        value={form?.term ?? ""}
      />
      <input type="text" placeholder="poids" name="weight" />
      <button>ajouter</button>
    </form>
  </div>

  <h5>Termes TF-IDF</h5>
  <pre>{JSON.stringify(data.tfidfTerms, null, 4)}</pre>
</main>

<style>
  header {
    max-width: 50em;
    margin: auto;
  }

  div.forms {
    max-width: 40em;
    margin: auto;
  }

  textarea {
    resize: none;
    width: 100%;
    height: 10em;
    margin-bottom: 1em;
    margin-top: 1em;
    box-sizing: border-box;
  }

  .btn-container {
    text-align: right;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .error {
    color: red;
  }

  form.inline {
    display: inline;
  }
</style>
