<script lang="ts">
    import type { Annotation } from "./types";
    import TopicChip from "./TopicChip.svelte";

    export let annotation: Annotation;
</script>

{#if annotation.source_job}
    <TopicChip topic={annotation.topic}>
        <a
            slot="extra"
            href="/a-propos"
            title="cette annotation a été ajoutée par une machine"
        >?</a>
    </TopicChip>
{:else}
    <TopicChip topic={annotation.topic}/>
{/if}

<style>
    a {
        border-radius: 5em;
        display: inline-block;
        height: 1.2em;
        width: 1.2em;
        text-align: center;
        /* XXX hack to adjust vertical alignment */
        line-height: 120%;
        color: inherit;
        position: relative;
        left: .2em;
    }
    a:hover {
        background-color: rgba(0,0,0,.2);
        text-decoration: none;
    }
</style>
