<script lang="ts">
    export let href: string;
</script>

<a
    {href}
>
    <slot></slot>
    <slot name="extra" />
</a>

<style>
    a {
        background-color: var(--bg-color, #f0f0f0) ;
        color: var(--fg-color, #666);
        font-size: 70%;
        padding: 0 0.8em;
        border-radius: 1em;
        line-height: 200%;
        font-family: sans-serif;
        display: inline-flex;
        width: max-content;
        align-items: center;
        /* without it, weird scroll bars appear on (at least) Chromium */
        overflow-y: hidden;
        margin: .2em .1em;
    }

    a:hover {
        background-color: var(--hover-bg-color, #e3e3e3) ;
        color: var(--hover-fg-color, #222);
        text-decoration: none;
    }
</style>
