<script lang="ts">
    export let formaction: string | null = null;
    export let onclick: (() => void) | null = null;
    export let confirmationPrompt: string | null = null ;
    
</script>

<!-- note that the class "btn" also has styles in static.css -->
<button class="btn" {formaction} on:click={(e) => {
    if (confirmationPrompt) {
        if (!confirm(confirmationPrompt)) {
            e.preventDefault();
        }
    }

    if (onclick) {
        onclick();
    }
}}>✖</button>

<style>
    .btn {
        padding: 0.1em;
        width: 1.5em;
        height: 1.5em;
        background-color: #ddd;
    }

    .btn:hover {
        background-color: #f27070;
    }
</style>
