<script lang="ts">
</script>

<div>
    <slot/>
</div>

<style>
    div {
        display: flex;
        align-items: center;
        gap: 1em;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: .5em 1em;

        background-color: #d4e5f7;
        border-radius: .5em;
    }
</style>