<script lang="ts">
    import { navigating } from "$app/stores";
    // TODO move these components to the lib directory
    import SiteHeader from "../routes/(app)/SiteHeader.svelte";
    import SiteNav from "../routes/(app)/SiteNav.svelte";

    export let username: string | undefined;
    export let responsive: null | "sidebar" | "main";

    let isMenuOpen: boolean = false;

    function toggleMenu() {
        isMenuOpen = !isMenuOpen;
    }

    $: {
        if ($navigating == null) {
            // menu is closed when arriving on a page
            isMenuOpen = false;
        }
    }
</script>

<div class="layout">
    <div class="header">
        <SiteHeader isConnected={Boolean(username)} {toggleMenu} />
        {#if username}
            <SiteNav username={username} bind:visible={isMenuOpen} />
        {/if}
    </div>

    <div class="sidebar">
        <slot name="sidebar"/>
    </div>

    <div class="main">
        <slot name="main"/>
    </div>
</div>

{#if isMenuOpen}
    <style>
        .sidebar {
            /* the "!important" is because there is a "display: block" conflicting */
            display: none !important;
        }
    </style>
{/if}

<style>
    .header, .sidebar {
        padding-left: 0.5em;
    }

    .main {
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
</style>

<!--
    TODO stop using 2 rows, and maybe stop using a grid entirely;
    see https://gitlab.com/cedricvanrompay/sempolda/-/issues/233
-->

{#if !responsive}
<style>
    .layout {
        height: 100vh;
        display: grid;
        grid-template-columns: 45ch auto;
        grid-template-rows: 6em auto;
        grid-template-areas:
            "header  main"
            "sidebar main";
    }

    .main {
        display: block;
        grid-area: main;
        overflow-y: scroll;
    }

    .sidebar {
        display: block;
        grid-area: sidebar;
        overflow-y: scroll;
    }

    .header {
        display: block;
        grid-area: header
    }
</style>
{:else if responsive == "main"}
<style>
    .sidebar {
        display: none;
    }

    .header > * {
        font-size: 70%;
    }

    @media (min-width: 50rem) {
        .layout {
            height: 100vh;
            display: grid;
            grid-template-columns: 45ch auto;
            grid-template-rows: 6em auto;
            grid-template-areas:
                "header  main"
                "sidebar main";
        }

        .main {
            display: block;
            grid-area: main;
            overflow-y: scroll;
        }

        .sidebar {
            display: block;
            grid-area: sidebar;
            overflow-y: scroll;
        }

        .header {
            display: block;
            grid-area: header
        }

        .header > * {
            font-size: 100%;
        }
    }
</style>
{:else if responsive == "sidebar"}
<style>
    .main {
        display: none;
    }

    @media (min-width: 50rem) {
        .layout {
            height: 100vh;
            display: grid;
            grid-template-columns: 45ch auto;
            grid-template-rows: 6em auto;
            grid-template-areas:
                "header  main"
                "sidebar main";
        }

        .main {
            display: block;
            grid-area: main;
            overflow-y: scroll;
        }

        .sidebar {
            display: block;
            grid-area: sidebar;
            overflow-y: scroll;
        }

        .header {
            display: block;
            grid-area: header
        }
    }
</style>
{/if}

