<script lang="ts">
    import type { Person } from "./types";
    import Chip from "./Chip.svelte";

    export let person: Person;
</script>

<Chip
    href={`/docs?person_id=${person.id}`}
    --bg-color="#e9eff5"
    --fg-color="#576496"
    --hover-bg-color="#d9e4f3"
    --hover-fg-color="#3f4766"
>
    {person.name}
</Chip>
