<script lang="ts">
    import type { Person } from "$lib/types";

    export let person: Person;
</script>

<header>
    <h1>{person.name}</h1>
</header>

<style>
    h1::first-letter {
        text-transform: uppercase;
    }

    h1 {
        margin-bottom: 0.3em;
    }
</style>