<script lang="ts">
    import { goto } from "$app/navigation";

    import AutocompletedInput from "./AutocompletedInput/AutocompletedInput.svelte";
    import type { Completion } from "./autocompletion";
    import { customFetch } from "./fetch";
    import type { Person } from "./types";

    function navigateToPerson(personID: string) {
        goto(`/docs?person_id=${personID}`);
    }

    async function completePerson(userInput: string) {
        return customFetch(fetch)(
            `/api/autocomplete/persons?q=${userInput}`,
        ).then((r) => r.json()) as Promise<Completion<Person>[]>;
    }
</script>

<h3>Personnes</h3>

<form on:submit|preventDefault>
    <AutocompletedInput
        inputName="person"
        getCompletions={completePerson}
        on:suggestionSelected={({ detail: completion }) =>
            navigateToPerson(completion.value.id)}
        sendEventOnSuggestionKeyDownEnter
        selectFirstSuggestionByDefault
    />
    <button class="btn">chercher</button>
</form>

<style>
    form {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    form > * {
        margin: 5px 10px;
    }
</style>
