<script lang="ts">
    import type { Poldoc } from "$lib/types";
    import AnnotationChip from "./AnnotationChip.svelte";
    import PoldocSubtitle from "$lib/PoldocSubtitle.svelte";

    export let poldoc: Poldoc;
    export let isConnected: Boolean = false;
</script>

<header>
    <div class="title">
        <h2>{poldoc.title}</h2>
        {#if isConnected}
            <a href={`/annotate/${poldoc.id}`} class="btn btn-secondary">annoter</a>
        {/if}
    </div>
    <PoldocSubtitle {poldoc}/>
    {#if poldoc.annotations && poldoc.annotations.length > 0}
        <p>{#each poldoc.annotations as annotation}
            <AnnotationChip {annotation}/>
        {/each}</p>
    {/if}
</header>

<style>
    header {
        max-width: 70ch;
        margin: 1.5em auto;
    }

    div.title {
        margin-bottom: .3em;
        display: flex;
        align-items: center;
        column-gap: 1em;
    }

    h2 {
        display: inline;
        margin-top: .1em;
        margin-bottom: .1em;
    }

    div.title a {
        font-size: 80%;
    }

    p {
        margin-top: 0.5em;
        color: #444;
    }
</style>
