<script lang="ts">
    import { POLDOC_TYPE_PREFIXES, type Poldoc } from "./types";

    export let poldoc: Poldoc;

    let poldocType = poldoc.id.split("/").slice(0, -1).join("/");

    function questionGouvIdToString(id: string) {
        const parts = id.split("/");

        if (parts[0] != "assemblee-nationale" || parts[1] != "questions-gouv") {
            throw new Error(`unexpected ID "${id}"`);
        }

        const date = new Date(parts[2]);
        const number = Number(parts[3]);

        return [
            "Assemblée Nationale",
            "Questions au gouvernement",
            date.toLocaleDateString("fr", { dateStyle: "long" }),
            `question n°${number}`,
        ].join(" — ");
    }

    function genericPoldocDateText(poldoc: Poldoc) {
        const date = new Date(poldoc.date);
        return date.toLocaleDateString("fr", { dateStyle: "long" });
    }

    POLDOC_TYPE_PREFIXES.questionGouv
</script>

<p><small>
    {#if poldoc.id.startsWith(POLDOC_TYPE_PREFIXES.questionGouv)}
        {questionGouvIdToString(poldoc.id)}
    {:else if poldocType == "politico"}
        <img src="https://www.politico.eu/wp-content/themes/politico/assets/images/favicon/favicon.ico" alt="">
        <span class="sans-serif">POLITICO</span>
        —
        {genericPoldocDateText(poldoc)}
    {:else if poldocType.startsWith("radiofrance/franceculture")}
        <img src="https://www.radiofrance.fr/dist/favicons/franceculture/favicon.png" alt="">
        Radio France
        —
        France Culture
        —
        {genericPoldocDateText(poldoc)}
    {/if}
</small></p>

<style>
    img {
        height: 1em;
    }

    .sans-serif {
        font-family: sans-serif;
    }
</style>
