<script lang="ts">
    import type { Content } from "./content";

    export let content: Content;
</script>


<div>
    {#each content.paragraphs as paragraph}
        <p>{paragraph}</p>
    {/each}
</div>


<style>
    div {
        max-width: 55ch;
        color: #222;
        margin: auto;
        text-align: justify;
        hyphens: auto;
        line-height: 1.6em;
    }
</style>