<script lang="ts">
    import { goto } from "$app/navigation";
    import { page } from "$app/stores";
    import LabelTree from "$lib/LabelTree/LabelTree.svelte";
    import TopicInput from "$lib/TopicInput.svelte";

    export let url: (label: string) => string;

    function navigate(topic: string) {
        goto(url(topic));
    }

    function onSubmitSearch(event: SubmitEvent) {
        // default event handler will cause a "DOM" navigation,
        // not a Javascript one, and we'd like to avoid this
        // (not to reload the layout for instance)
        event.preventDefault();

        const formData = new FormData(event.target as HTMLFormElement);
        const topic = formData.get("topic") as string;

        navigate(topic);
    }
</script>

<h3>Sujets</h3>

<form on:submit={onSubmitSearch}>
    <TopicInput
        on:suggestionSelected={({ detail: completion }) =>
            navigate(completion.key)
        }
    />
    <button class="btn">chercher</button>
</form>

{#if $page.url.searchParams.get('topic')}
    <h3>{$page.url.searchParams.get('topic')}</h3>
    <LabelTree {url} root={$page.url.searchParams.get('topic')}/>

    <h3>tous les sujets</h3>
{/if}

<LabelTree {url} />

<style>
    form {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    form > * {
        margin: 5px 10px;
    }
</style>