<script lang="ts">
    import AutocompletedInput from "./AutocompletedInput/AutocompletedInput.svelte";
    import type { Completion } from "./autocompletion";
    import { customFetch } from "./fetch";
    import type { Topic } from "./types";

    export let value: string = "";

    async function completeTopic(userInput: string) {
        return customFetch(fetch)(
            `/api/autocomplete/topics?q=${userInput}`,
        ).then((r) => r.json()) as Promise<Completion<Topic>[]>;
    }
</script>

<AutocompletedInput
    inputName="topic"
    bind:value
    getCompletions={completeTopic}
    on:suggestionSelected
    sendEventOnSuggestionKeyDownEnter
/>