<script lang="ts">
    import type { Topic } from "$lib/types";
    import TopicChip from "./TopicChip.svelte";

    export let topic: Topic;
</script>

<header>
    <h1>{topic.name}</h1>
    {#if topic.description}
        <p class="description">{topic.description}</p>
    {/if}
    {#if topic.parents && topic.parents.length > 0}
        <p>{#each topic.parents as parent}
            <TopicChip topic={parent}/>
        {/each}</p>
    {/if}

    {#if topic.synonyms}
        <p class="synonyms">
           synonymes: {topic.synonyms.join(", ")}
        </p>
    {/if}
</header>

<style>
    h1::first-letter {
        text-transform: uppercase;
    }

    h1 {
        margin-bottom: 0.3em;
    }

    .description, .synonyms {
        margin-top: 0.4em;
        font-size: smaller;
        color: #333;
    }
</style>